[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PlotPluginTest
Exec=/usr/bin/single-instance /opt/PlotPluginTest/bin/PlotPluginTest
Icon=/usr/share/icons/hicolor/80x80/apps/PlotPluginTest80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
